<!DOCTYPE html>
<html>
    <head>
        <title>RentEverything</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class='container'>
            <h1>Rent Everything</h1>
            <p>Welcome to RentEverything</p>
             <a href="/items" id='enter'>View All Items</a>
        </div>

        
<% include partials/footer %>