<!DOCTYPE html>
<html>
    <head>
        <title>RentEverything</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <img src="https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=1532&q=80" class='bg'>
        <div class='container'>
            <h1>Rent Everything</h1>
            <p>Welcome to RentEverything</p>
             <a href="/items" id='enter'>View All Items</a>
        </div>

        
<% include partials/footer %>